@{
    ViewData["Title"] = "Ben Macmichael";
}

<div class="container-fluid d-flex justify-content-center bg-light">
    <div>
        <p class="lead">
            Video editing is a dynamic and transformative process that elevates
            visual storytelling to new heights. It involves the meticulous arrangement
            and manipulation of video clips, audio elements, and visual effects to craft a
            seamless and compelling narrative. From the initial selection of raw footage to the
            final touches of color grading and sound design, video editing is both an art and a
            technical skill. It enables creators to enhance the emotional impact of a story, create
            immersive experiences, and captivate audiences with the power of moving images. The
            tools and techniques employed in video editing continually evolve, allowing editors to
            explore innovative ways to convey messages and evoke emotions through the magic of
            post-production.
        </p>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center bg-light">
    <img src="~/img/setup.jpg" class="img-fluid" alt="Setup Image" />
</div>
<br />
<br />
<div class="container-fluid d-flex justify-content-center bg-light">
    <div>
        <p class="lead">
            Explore a few video samples showcasing my past editing projects. 
            One notable creation was tailored for the ambiance of a wedding reception, 
            dedicated to the couple. In this project, I blended a medley of photos, music, 
            and video to ensure a seamless narrative, artfully recounting the individual and shared journeys of the couple.
        </p>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center bg-light">
    <video controls="controls" style="max-width: 100%; height: auto;">
        <source src="~/img/b3mmysl!desh0w.mp4" type="video/mp4" />
    </video>
</div>
<br />
<br />
<div class="container-fluid d-flex justify-content-center bg-light">
    <div>
        <p class="lead">
            The following video takes a playful and light-hearted approach, 
            showcasing a simple yet humorous take on good-natured teasing with a 
            friend. If you have a specific idea in mind or would like a video tailored 
            to poke fun in a friendly manner at a close friend, I offer a prompt and 
            efficient editing service. Submit your request, and I'll swiftly craft an 
            entertaining video that captures the essence of camaraderie, adding a touch 
            of humor to your memorable moments.
        </p>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center bg-light">
    <video controls="controls" style="max-width: 100%; height: auto;">
        <source src="~/img/watermonster.mp4" type="video/mp4" />
    </video>
</div>
<br />
<br />
<div class="container-fluid bg-light">
    <p>
        Editing videos is something I really enjoy doing and if you have 
        any specific requests please go <a asp-controller="Home" asp-action="Services">here</a>
        to view my rates.
    </p>
</div>
